/*stylesheet for the login page */
body{
margin:0;
padding:0;
font-family: sans-serif;
background-size: cover;
background-image: linear-gradient(to bottom,rgba(49, 56, 52, 0.52), rgba(49, 56, 51, 0.52)),url('6.jpg');
}
*
{
  margin: 0;
  padding:0;
}

.form-wrap
{
  width: 320px;
  background-color: inherit;
  padding:40px 20px;
  box-sizing: border-box;
  position: fixed;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1{
  text-align: center;
  color:#fff;
  font-family: Century Gothic;
  margin-bottom: 20px;
}

input{

  width: 100%;
  background: #fff9;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;

}

input:focus
{
  background: white;
  transition:0.5s ease;

}

input::placeholder
{
  font-family: Bahnschrift;
  color:#0008;
}

input[type="submit"]
{
  font-family: Bahnschrift;
  cursor:pointer;
}

input[type="submit"]:hover
{
  background-color: #fff;
  transition: 0.5s ease;

}

.logo
{
  position: inherit;
  text-align: center;

}
a
{
  color:white;
  text-shadow: black;

}
